@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

:root {
  --primary-color: #009b72;
  --secondary-color: #2d3047;
  --background-color: #f5f5f5;
  --cart-color: #de6b48;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

li {
  list-style: none;
}

nav {
  height: 85px;

  .container {
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: #000;

      img {
        width: 40px;
        margin-left: 5px;
      }
    }

    .search-bar {
      display: flex;

      input {
        width: 375px;
        height: 40px;
        border: none;
        background-color: var(--background-color);
        padding: 1rem;
        border-radius: 5px;
      }

      .btn {
        background-color: var(--primary-color);
        border: none;
        border-radius: 5px;
        height: 40px;
        width: 55px;
        cursor: pointer;

        .search {
          color: #fff;
        }
      }
    }

    .user-section {
      display: flex;
      align-items: center;

      .account {
        display: flex;
        align-items: center;
        border-right: 1px solid #000;
        padding-right: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        color: #000;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }

        .userIcon {
          font-size: 2rem;
          color: var(--primary-color);
          margin-right: 4px;
        }
      }

      .cart {
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;
        font-weight: bold;

        p {
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }

        .cart-wheel {
          color: var(--primary-color);
          font-size: 2rem;
          margin-right: 10px;
        }

        .cart-number {
          position: absolute;
          width: 25px;
          text-align: center;
          top: -20px;
          right: 60px;
          border: 1px solid var(--cart-color);
          border-radius: 50px;
          color: #fff;
          background-color: var(--cart-color);
          padding: 5px;
        }
      }
    }
  }
}
.categories-link {
  background: var(--primary-color);

  .container {
    height: 40px;

    ul {
      height: 100%;
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 2rem;
        cursor: pointer;

        &:nth-of-type(1) {
          .brand-container {
            position: absolute;
            display: none;

            .laptops-by-brand {
              background-color: var(--background-color);
              position: relative;
              top: 50px;
              left: 20px;
              z-index: 99;
              border-radius: 5px;
              padding: 1rem;
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

              display: flex;
              align-items: center;

              li {
                a {
                  text-decoration: none;
                  color: #000;
                  padding-right: 5px;
                }

                &:hover {
                  text-decoration: underline;
                  color: var(--primary-color);
                  font-weight: bold;
                }
              }
            }
          }

          &:hover {
            .brand-container {
              display: block;
            }
          }
        }

        &:nth-of-type(2) {
          .electronics-container {
            position: absolute;
            display: none;

            .electronics {
              background-color: var(--background-color);
              position: relative;
              top: 50px;
              left: 20px;
              z-index: 99;
              border-radius: 5px;
              padding: 1rem;
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

              display: flex;
              align-items: center;

              li {
                a {
                  text-decoration: none;
                  color: #000;
                  padding-right: 5px;
                }

                &:hover {
                  text-decoration: underline;
                  color: var(--primary-color);
                  font-weight: bold;
                }
              }
            }
          }

          &:hover {
            .electronics-container {
              display: block;
            }
          }
        }
      }
    }
  }
}

.showcase {
  padding: 2rem 0;
  margin-bottom: 2rem;
  .container {
    .showcase-container {
      background: var(--background-color);
      position: relative;
      padding: 2rem;
      overflow: hidden;

      .header-showcase {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin-bottom: 1.5rem;
        }

        p {
          display: flex;
          align-items: center;
          color: #787878;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          .forward {
            width: 15px;
          }
        }
      }

      .sliderArrow {
        width: 50px;
        height: 25%;
        background-color: #fff;
        color: #000;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        z-index: 999;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;

        &.left {
          left: 0;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }

        &.right {
          right: 0;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      .Products-container {
        display: flex;
        width: max-content;
        transform: translateX(0px);
        transition: all 1s ease;

        .products {
          margin-right: 30px;
          width: 300px;
          text-align: center;
          border-radius: 10px;
          background: #fff;
          display: grid;
          place-items: center;

          img {
            width: 75%;
            object-fit: cover;
          }

          .reviews {
            display: flex;
            justify-content: center;
            padding: 5px 0;

            li {
              .stared {
                color: gold;
              }

              .unstared {
                color: gold;
              }
            }
          }

          h3 {
            padding: 10px 0;
            font-weight: regular;
          }
          .btn {
            border: none;
            background: var(--primary-color);
            display: flex;
            align-items: center;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 1rem;
            cursor: pointer;

            .cart {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.logo-section {
  padding: 1.5rem 0;
  .container {
    .wrapper {
      background: var(--background-color);
      overflow: hidden;
      padding: 2rem 0;

      &-container {
        width: 90%;
        margin: auto;

        .logo-brands {
          display: flex;
          width: max-content;
        }
      }
    }
  }
}

.banner {
  .container {
    .wrapper {
      background: var(--secondary-color);
      overflow: hidden;
      margin: 2rem 0;
      padding: 1rem 0;

      &-container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        .delivery {
          text-align: center;

          h1 {
            padding-bottom: 10px;
            font-size: 3rem;
            color: #fff;
          }

          .btn {
            background-color: var(--cart-color);
            border: none;
            width: 275px;
            height: 50px;
            color: #fff;
            cursor: pointer;
          }
        }

        .order {
          display: flex;
          flex-direction: column;

          img {
            width: 300px;
          }

          .btn {
            margin-top: 10px;
            background-color: var(--cart-color);
            border: none;
            height: 50px;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.login {
  .login-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    .user-container {
      width: 70%;
      margin: 4rem auto;

      h1 {
        color: var(--primary-color);
        font-size: 3rem;
      }

      p {
        font-weight: bold;

        &:nth-of-type(1) {
          margin-bottom: 1rem;
          font-weight: normal;
        }

        span {
          text-decoration: none;
          color: var(--secondary-color);

          &:hover {
            color: #4b507a;
            text-decoration: underline;
          }
        }
      }
      label {
        p {
          color: #787878;
        }
        input {
          width: 100%;
          height: 40px;
          border: none;
          border-bottom: 1px solid #787878;
          padding: 1rem;
          margin-bottom: 10px;

          &::placeholder {
            font-size: 1.1rem;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .forget {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        align-items: center;

        a {
          text-decoration: none;
          color: var(--secondary-color);
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .btn-section {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          border: none;
          height: 50px;
          background-color: var(--secondary-color);
          color: var(--background-color);
          font-size: 1rem;
          margin-bottom: 1rem;
          width: 100%;
          cursor: pointer;

          p {
            color: #adacac;
            font-weight: bold;
          }

          &-social {
            border: 1px solid #787878;
            height: 50px;
            margin: 9px;
            color: #000;
            width: 100%;
            background-color: #fff;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }

    .img-container {
      img {
        width: 100%;
        height: 765px;
        object-fit: cover;
      }
    }
  }
}

.create {
  .create-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    .img-container {
      img {
        width: 100%;
        height: 765px;
        object-fit: cover;
      }
    }

    .user-container {
      width: 62%;
      margin: 3rem auto;

      .info {
        display: flex;
        justify-content: center;

        p {
          color: #787878;
        }
      }

      .social-section {
        border-bottom: 1px solid #787878;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: var(--primary-color);
        }
        .btn-section {
          display: flex;
          flex-direction: column;
          width: 80%;

          .btn-social {
            border: 1px solid #787878;
            background-color: #fff;
            width: 100%;
            height: 40px;
            margin-top: 1rem;
            font-size: 1.1rem;
          }
        }
      }

      label {
        p {
          color: #000;
        }
        input {
          width: 100%;
          height: 40px;
          border: none;
          border-bottom: 1px solid #787878;
          padding: 1rem;
          font-size: 1.1rem;
          margin-bottom: 10px;

          &:focus {
            outline: none;
          }
        }
      }

      .agree {
        display: flex;
        align-items: center;

        input {
          margin-right: 10px;
        }

        margin: 1rem 0;
      }

      .btn-section {
        display: flex;
        justify-content: center;
        .btn {
          border: none;
          background-color: var(--secondary-color);
          color: #fff;
          height: 40px;
          width: 50%;
        }
      }
    }
  }
}

.cart-section {
  margin: 3rem 0;
  .container {
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 10px;

    .head-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      height: 55px;

      h1 {
        color: #787878;
      }

      span {
        color: var(--cart-color);
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #e2552a;
          text-decoration: underline;
        }
      }
    }

    .cart-list {
      width: 90%;
      margin: auto;

      .cart-item {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #aaa5a5;
        align-items: center;
        justify-content: space-between;

        .cart-img {
          img {
            width: 200px;
          }
        }

        .cart-name {
          width: 175px;
        }

        .cart-quantity {
          span {
            border: 1px solid #787878;
            padding: 6px;
            font-size: 1.2rem;
            border-radius: 5px;
            background-color: #fff;
          }

          button {
            padding: 5px;
            font-size: 1.2rem;
            margin: 0 5px;
            border: none;
            background: #e0dfdf;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        .cart-remove {
          .cart-delete {
            color: var(--cart-color);
            cursor: pointer;
            font-size: 2rem;

            &:hover {
              color: #e2552a;
            }
          }
        }
      }
    }

    .cart-checkout {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;

      .backShopping {
        display: flex;
        align-items: center;
        color: var(--cart-color);
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
        .back {
          color: var(--cart-color);
        }
      }

      .checkout {
        display: flex;
        flex-direction: column;
        align-items: end;

        h1 {
          font-size: 2.3rem;
          margin: 10px 0;
        }

        .btn {
          background: var(--secondary-color);
          border: none;
          width: 120px;
          height: 45px;
          border-radius: 5px;
          color: #fff;
          font-size: 1rem;
        }
      }
    }
  }
}

footer {
  background-color: var(--secondary-color);
  color: #fff;

  .container {
    .logo {
      padding-top: 1.5rem;
      display: flex;
      align-items: end;
      h1 {
        font-size: 3rem;
      }

      img {
        width: 75px;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;

      h3 {
        margin-bottom: 10px;
      }

      li {
        margin-bottom: 10px;
      }

      .we-accept {
        .accept-logo {
          display: flex;
          flex-direction: column;

          img {
            width: 100px;
            margin-bottom: 10px;
          }
        }
      }

      .follow {
        .social-media {
          display: flex;

          img {
            width: 50px;
            margin-right: 15px;
          }
        }
      }
    }
  }
  .copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
  }
}
