@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

:root {
  --primary-color: #009b72;
  --secondary-color: #2d3047;
  --background-color: #f5f5f5;
  --cart-color: #de6b48;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

li {
  list-style: none;
}

header {
  nav {
    height: 100px;

    .container {
      width: 85%;
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;

        img {
          width: 40px;
          margin-left: 5px;
        }
      }

      .search-bar {
        display: flex;
        input {
          width: 375px;
          height: 40px;
          border: none;
          background-color: var(--background-color);
          padding: 1rem;
          border-radius: 5px;
        }

        .btn {
          background-color: var(--primary-color);
          border: none;
          border-radius: 5px;
          height: 40px;
          width: 55px;
          cursor: pointer;

          .search {
            color: #fff;
          }
        }
      }

      .user-section {
        display: flex;
        align-items: center;

        .account {
          display: flex;
          align-items: center;
          border-right: 1px solid #000;
          padding-right: 1rem;
          margin-right: 1rem;

          .userIcon {
            font-size: 2rem;
            color: var(--primary-color);
            margin-right: 4px;
          }
        }

        .cart {
          display: flex;
          position: relative;
          align-items: center;

          .cart-wheel {
            color: var(--primary-color);
            font-size: 2rem;
            margin-right: 10px;
          }

          .cart-number {
            position: absolute;
            width: 25px;
            text-align: center;
            top: -20px;
            right: 60px;
            border: 1px solid var(--cart-color);
            border-radius: 50px;
            color: #fff;
            background-color: var(--cart-color);
            padding: 5px;
          }
        }
      }
    }
  }
  .categories-link {
    background: var(--primary-color);

    .container {
      height: 50px;

      ul {
        height: 100%;
        display: flex;
        align-items: center;

        li {
          display: flex;
          align-items: center;
          color: #fff;
          margin-right: 2rem;
        }
      }
    }
  }
}

.showcase {
  padding: 2rem 0;
  .container {
    .showcase-container {
      background: var(--background-color);
      position: relative;
      padding: 2rem;
      overflow: hidden;

      h2 {
        margin-bottom: 1.5rem;
      }

      .sliderArrow {
        width: 50px;
        height: 25%;
        background-color: #fff;
        color: #000;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        z-index: 999;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;

        &.left {
          left: 0;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }

        &.right {
          right: 0;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      .Products-container {
        display: flex;
        width: max-content;
        transform: translateX(0px);
        transition: all 1s ease;

        .products {
          margin-right: 30px;
          width: 300px;
          text-align: center;
          border-radius: 10px;
          background: #fff;
          display: grid;
          place-items: center;

          img {
            width: 100%;
            object-fit: cover;
          }

          .reviews {
            display: flex;
            justify-content: center;
            padding: 10px 0;

            li {
              .stared {
                color: gold;
              }

              .unstared {
                color: gold;
              }
            }
          }

          h3 {
            padding: 10px 0;
            font-weight: regular;
          }
          .btn {
            border: none;
            background: var(--primary-color);
            display: flex;
            align-items: center;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 1rem;
            cursor: pointer;

            .cart {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.logo-section {
  padding: 2rem 0;
  .container {
    .wrapper {
      background: var(--background-color);
      overflow: hidden;
      padding: 2rem 0;

      &-container {
        width: 90%;
        margin: auto;

        .logo-brands {
          display: flex;
          width: max-content;
        }
      }
    }
  }
}

.banner {
  .container {
    .wrapper {
      background: var(--background-color);
      overflow: hidden;
      padding: 2rem 0;
      &-container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        .delivery {
          text-align: center;

          h1 {
            padding-bottom: 10px;
          }

          .btn {
            background-color: var(--secondary-color);
            border: none;
            width: 275px;
            height: 50px;
            color: #fff;
            cursor: pointer;
          }
        }

        .order {
          .btn {
            background-color: var(--secondary-color);
            border: none;
            width: 275px;
            height: 50px;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
